<div class="card">
  <h5 class="card-header"><%= link_to question.title, question_path(question) %></h5>
  <div class="card-body">

    <% if question.attachment.attached? %>
      <% if question.attachment.image? %>
        <%= image_tag question.attachment %>
      <% else %>
        <p class="card-title">
          <%= t('.file_attached') %>
          <%= link_to(question.attachment.blob.filename.sanitized, rails_blob_url(question.attachment, disposition: 'attachment')) %>
        </p>
      <% end %>
    <% end %>

    <p class="card-text"><%= question.presenter.render_content %></p><hr/>

    <div class="d-flex">

      <% if question.published? %>
        <div class="col-2"><%= votes_div :question, question %></div>
        <div class="col-6">
          <a data-toggle="collapse" href="#commentsForQuestion<%= question.id %>" class="btn btn-outline-primary">Comments</a>
        </div>
      <% end %>

      <div class="col-4">
        <p class="card-text">
          <% if question.published? %>
            Published: <%= question.published_at %> <br/>
            From: <%= question.user.name %> <br/>
          <% end %>
          Topics: <%= topic_links(question) %>
        </p>
      </div>

    </div>
    <div class="collapse" id="commentsForQuestion<%= question.id %>">
      <%= render template: 'comments/index', locals: { commentable: question } if question.published? %>
    </div>
  </div>
</div>
