<div class="card">
  <h5 class="card-header"><%= link_to question.title, question_path(question) %></h5>
  <div class="card-body">

    <% if question.attachment.attached? %>
      <% if question.attachment.content_type == 'image/jpeg' %>
        <%= image_tag question.attachment %>
      <% else %>
        <p class="card-title">
          <%= raw t '.file_attached', link: link_to('here', rails_blob_url(question.attachment, disposition: "attachment")) %>
        </p>
      <% end %>
    <% end %>

    <p class="card-text"><%= markdown(question.content) %></p>
    <hr/>
    <p class="card-text">
      <% if question.published? %>
        Published: <%= question.published_at %> <br/>
        From: <%= question.user.name %> <br/>
      <% end %>
      Topics: <%= question.topic_names.join(', ') %>
    </p>
    <% #FIXME_AB: no comments allowed on draft. Don't show form and don't allow from comment model also -%>
    <%= link_to 'comments', comments_question_path(question), class: 'btn btn-primary' %>
  </div>
</div>
