<div class="card">
  <h5 class="card-header"><%= link_to question.title, question_path(question) %></h5>
  <div class="card-body">
    <p class="card-title"><%= markdown(question.content) %></p>
    <hr/>
    <p class="card-text">
      Published: <%= question.published_at %> <br/>
      Topics: <%= question.topic_names.join(', ') %> <br/>
      From: <%= question.user.name %>
    </p>
  </div>
</div>