<div class="card">
  <h5 class="card-header"><%= link_to question.title, question_path(question) %></h5>
  <div class="card-body">

    <% if question.attachment.attached? %>
      <% if question.attachment.image? %>
        <%= image_tag question.attachment %>
      <% else %>
        <p class="card-title">
          <%= t('.file_attached') %>
          <%= link_to(question.attachment.blob.filename.sanitized, rails_blob_url(question.attachment, disposition: 'attachment')) %>
        </p>
      <% end %>
    <% end %>

    <p class="card-text"><%= question.presenter.render_content %></p><hr/>

    <div class="d-flex">

      <% if question.published? %>
        <div class="col-2">
          <%= votes_div :question, question %>
        </div>
        <div class="col-6">
          <%= link_to :comments, 'javascript:void(0)', class: "toggle-comments_btn btn btn-outline-primary", data: {for: "comments-for-question-#{question.id}"} %>
        </div>
      <% end %>

      <div class="col-4">
        <p class="card-text">
          <% if question.published? %>
            Published: <%= question.published_at %> <br/>
            From: <%= question.user.name %> <br/>
          <% end %>
          Topics: <%= topic_links(question) %>
        </p>
      </div>

    </div>
    <%= render template: 'comments/index', locals: { commentable_type: :question, commentable: question } if question.published? %>
  </div>
</div>
