<% content_for :js do %>
  <%= javascript_pack_tag 'toggle_comments', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <div class="row">
    <%= render @question, question: @question %>
  </div>
</div>

<%= link_to 'Back', questions_path, class: 'btn btn-primary' %>
<% #FIXME_AB: @question.poster?(current_user) -%>
<% if current_user.id == @question.user.id %>
  <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
  <%= link_to 'Destroy', @question, method: :delete, data: { confirm: t('.confirm_delete') }, class: 'btn btn-danger' %>
<% end %>
