<%= errors_explanation_div(@comment) %>

<%= form_with(model: [commentable, Comment.new], class: 'form-row') do |form| %>

  <div class="p-2 flex-grow-1">
    <%= form.text_field :content, class: 'form-control', placeholder: "Comment"%>
  </div>
  <div class="p-2">
    <%= form.submit 'Post', class: "btn btn-primary btn-sm"  %>
  </div>
<% end %>

<ul class="list-group">
  <% commentable.comments.each do |comment| %>

    <li class="list-group-item">
      <p class='mb-2'>
        <strong class='h4'><%= comment.user.name %></strong><br/>
        <em>- <%= time_ago_in_words(comment.created_at) %> ago</em>
      </p>
      <%= content_tag :p, comment.content %>
      <%= votes_div :comment, comment %>
    </li>

  <% end %>
</ul>
