<% content_for :js do %>
  <%= javascript_pack_tag 'mark_notifications', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row">
  <% if @notifications.blank? %>
    <h2><%= t('.no_notifications') %></h2>
  <% else %>
    <%= content_tag :ul, id: 'notifications-list', class: "list-group", data: { path: mark_notification_path } do %>

      <% @notifications.each do |n| %>
        <%= content_tag :li, class: "list-group-item d-flex justify-content-between #{n.viewed ? 'list-group-item-dark' : 'list-group-item-primary' }" do %>

          <div class=" justify-content-start">
            <%= n.presenter.display_message %>
            <%= link_to(n.notifiable.title, question_path(n.notifiable)) if n.notifiable.is_a?(Question) %>
          </div>
          <% unless n.viewed? %>
            <div class=" justify-content-end ok-btn">
              <%= link_to 'OK', 'javascript:void(0)', class: "badge badge-info", data: { id: n.id } %>
            </div>
          <% end %>

        <% end %>
      <% end %>

    <% end %>
  <%= paginate @notifications %>
  <% end %>
</div>
