<div class="row">
  <% if @notifications.blank? %>
    <h2><%= t('.no_notifications') %></h2>
  <% else %>
    <ul class="list-group">
      <% @notifications.each do |n| %>

      <% content = "#{n.id} #{t(n.message)} | Question: " %>
      <% link = link_to(n.notifiable.title, question_path(n.notifiable)) if n.notifiable %>

        <% if n.viewed %>
          <li class="list-group-item list-group-item-dark"><%= content %><%= link %></li>
        <% else %>
          <li class="list-group-item list-group-item-primary"><%= content %><%= link %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= paginate @notifications %>
<% end %>