<div class="media">
  <%= image_tag user.avatar, alt: "avatar", class:"align-self-start mr-3 rounded border" if user.avatar.attached? %>
  <div class="media-body">
    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>

    <p>
      <strong>Credits:</strong>
      <%= link_to user.credits, credit_transactions_path %>
    </p>

    <p>
      <strong>Topics:</strong>
      <%= topic_links(user) %>
    </p>

    <% if user == current_user %>
      <p>
        <strong>Auth Token:</strong>
        <%= current_user.auth_token %>
      </p>
    <% end %>
  </div>
</div>

<%= link_to t('.questions'), root_path(user: user.id), class: 'btn btn-outline-primary' %>
