<h1><%=t('.index_heading')%></h1>
<div class="table-responsive">

  <table class = 'table table-striped table-bordered  table-hover'>
    <thead class = 'thead-dark'>
      <tr>
        <th>Id</th>
        <th>Credits</th>
        <th>For</th>
        <th>Reason</th>
      </tr>
    </thead>

    <tbody>
      <% @credit_transactions.each do |ct| %>
        <tr>
          <td><%= ct.id %></td>
          <td><%= ct.credits %></td>
          <td><%= ct.creditable_type %> - <%= ct.creditable_id %></td>
          <td><%= ct.reason %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% #FIXME_AB: if no transaction show message -%>
<% #FIXME_AB: if there are transactions, then add a last row showing final balance -%>
<br/>
<%= link_to "Back", :back, class: 'btn btn-primary' %>
<%= paginate @credit_transactions %>
<br/>
