<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><%= image_tag 'logo.svg', alt: 'prashna-logo' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to  "Users", admin_users_path, class: 'nav-link btn btn-outline-dark' %>
      </li>
      <li class="nav-item">
        <%= link_to  "Profile", profile_users_path, class: 'nav-link btn btn-outline-dark' %>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="nav-link btn btn-outline-dark dropdown-toggle" type="button" id="navQuestionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Question
          </button>
          <div class="dropdown-menu" aria-labelledby="navQuestionMenu">
            <%= link_to "Ask new?", new_question_path, class: 'dropdown-item' %>
            <%= link_to 'Drafts', drafts_questions_path, class: 'dropdown-item' %>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <%= button_to  notifications_users_path, class: 'btn', method: :get do %>
          <%= image_tag('bell.svg', alt: 'notification-bell') %>
          <%= content_tag :span, current_user.new_notifications_count, class: "badge badge-light", id: "notification-bell-count" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to  "logout", logout_path, method: :delete, class: 'nav-link btn btn-outline-dark' %>
      </li>
    </ul>
  </div>
  <%= render "questions/search_form" if current_user %>
</nav>
