<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Quora" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= content_for :css %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Quora-clone(Prashna)" %>">
  </head>

  <body>

    <header class="main">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/notification' if current_user.present? %>
    </header>
    <section class="content">

      <main class='<%= controller.controller_name %>'>
        <% if notice %>
          <aside id="notice"><%= notice %></aside>
        <% end %>

        <div class="container"><%= yield %></div>

      </main>
    </section>

  </body>
</html>
